# Entornos virtuales (todas las variantes)
.venv
.venv/
.venv/*
flask-interno/.venv
flask-interno/.venv/
flask-interno/.venv/*
venv
venv/
env
env/

# Librerías instaladas
site-packages/
flask-interno/.venv/Lib/site-packages/

# Temporales de Python
__pycache__
__pycache__/
*.pyc
flask-interno/__pycache__/

# Laravel
/laravel-externo/vendor/
/laravel-externo/node_modules/
/laravel-externo/.env
