--
-- PostgreSQL database dump
--

\restrict w0GlHS8vx6SIwlrpeeennstaacpVSKqXzKTpVcJBQhicXOmHGevg2slT3tHUdIq

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: orderstatus; Type: TYPE; Schema: public; Owner: macuin_user
--

CREATE TYPE public.orderstatus AS ENUM (
    'PENDING',
    'PROCESSING',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED'
);


ALTER TYPE public.orderstatus OWNER TO macuin_user;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: macuin_user
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'EMPLOYEE',
    'CLIENT'
);


ALTER TYPE public.userrole OWNER TO macuin_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: autoparts; Type: TABLE; Schema: public; Owner: macuin_user
--

CREATE TABLE public.autoparts (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price double precision NOT NULL,
    stock integer,
    category character varying(50),
    image_url character varying(255),
    created_at timestamp without time zone
);


ALTER TABLE public.autoparts OWNER TO macuin_user;

--
-- Name: autoparts_id_seq; Type: SEQUENCE; Schema: public; Owner: macuin_user
--

CREATE SEQUENCE public.autoparts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.autoparts_id_seq OWNER TO macuin_user;

--
-- Name: autoparts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: macuin_user
--

ALTER SEQUENCE public.autoparts_id_seq OWNED BY public.autoparts.id;


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: macuin_user
--

CREATE TABLE public.cart_items (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    autopart_id bigint NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.cart_items OWNER TO macuin_user;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: macuin_user
--

CREATE SEQUENCE public.cart_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cart_items_id_seq OWNER TO macuin_user;

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: macuin_user
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: macuin_user
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO macuin_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: macuin_user
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO macuin_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: macuin_user
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: macuin_user
--

CREATE TABLE public.order_items (
    id bigint NOT NULL,
    order_id bigint,
    autopart_id bigint,
    quantity integer NOT NULL,
    unit_price double precision NOT NULL
);


ALTER TABLE public.order_items OWNER TO macuin_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: macuin_user
--

CREATE SEQUENCE public.order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_items_id_seq OWNER TO macuin_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: macuin_user
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: macuin_user
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    user_id bigint,
    status public.orderstatus,
    total_price double precision,
    created_at timestamp without time zone
);


ALTER TABLE public.orders OWNER TO macuin_user;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: macuin_user
--

CREATE SEQUENCE public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO macuin_user;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: macuin_user
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: macuin_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    role public.userrole,
    created_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO macuin_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: macuin_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO macuin_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: macuin_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: autoparts id; Type: DEFAULT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.autoparts ALTER COLUMN id SET DEFAULT nextval('public.autoparts_id_seq'::regclass);


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: autoparts; Type: TABLE DATA; Schema: public; Owner: macuin_user
--

COPY public.autoparts (id, name, description, price, stock, category, image_url, created_at) FROM stdin;
3	Buj├¡a	Buj├¡a de encendido	150	200	Encendido	\N	2026-04-07 22:44:24.294819
4	Filtro de aire	Filtro de aire de alto flujo	350	100	Motor	\N	2026-04-07 22:44:24.294819
1	Amortiguador	Amortiguador delantero	1200	40	Suspensi├│n	None	2026-04-07 22:44:24.294815
2	Bomba de agua	Bomba de agua para motor	850	10	Motor	None	2026-04-07 22:44:24.294818
\.


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: macuin_user
--

COPY public.cart_items (id, user_id, autopart_id, quantity, created_at, updated_at) FROM stdin;
1	3	3	1	2026-04-08 00:41:59	2026-04-08 00:41:59
2	3	4	1	2026-04-08 00:42:00	2026-04-08 00:42:00
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: macuin_user
--

COPY public.migrations (id, migration, batch) FROM stdin;
1	2026_04_08_002923_create_cart_items_table	1
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: macuin_user
--

COPY public.order_items (id, order_id, autopart_id, quantity, unit_price) FROM stdin;
1	1	3	2	150
2	1	4	2	350
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: macuin_user
--

COPY public.orders (id, user_id, status, total_price, created_at) FROM stdin;
1	3	PENDING	1000	2026-04-07 23:09:45.829571
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: macuin_user
--

COPY public.users (id, name, email, password, role, created_at) FROM stdin;
2	Administrador	admin@macuin.com	$2y$12$oijgMeEupi643gkY/3lio.WkgNwKLsuwYxp1S2I6MiKo4mnVgnWSC	ADMIN	2026-04-07 22:51:28.341031
3	Cliente Prueba	cliente@gmail.com	$2y$12$R85O9AYehV0OxO0teQzxNuHKx.vJLnE0ybVhdksLWjAm17CWX8VCa	CLIENT	2026-04-07 23:09:45.819246
\.


--
-- Name: autoparts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: macuin_user
--

SELECT pg_catalog.setval('public.autoparts_id_seq', 4, true);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: macuin_user
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 2, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: macuin_user
--

SELECT pg_catalog.setval('public.migrations_id_seq', 1, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: macuin_user
--

SELECT pg_catalog.setval('public.order_items_id_seq', 2, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: macuin_user
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: macuin_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: autoparts autoparts_pkey; Type: CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.autoparts
    ADD CONSTRAINT autoparts_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_autoparts_id; Type: INDEX; Schema: public; Owner: macuin_user
--

CREATE INDEX ix_autoparts_id ON public.autoparts USING btree (id);


--
-- Name: ix_order_items_id; Type: INDEX; Schema: public; Owner: macuin_user
--

CREATE INDEX ix_order_items_id ON public.order_items USING btree (id);


--
-- Name: ix_orders_id; Type: INDEX; Schema: public; Owner: macuin_user
--

CREATE INDEX ix_orders_id ON public.orders USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: macuin_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: macuin_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: cart_items cart_items_autopart_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_autopart_id_foreign FOREIGN KEY (autopart_id) REFERENCES public.autoparts(id) ON DELETE CASCADE;


--
-- Name: cart_items cart_items_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_autopart_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_autopart_id_fkey FOREIGN KEY (autopart_id) REFERENCES public.autoparts(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: macuin_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict w0GlHS8vx6SIwlrpeeennstaacpVSKqXzKTpVcJBQhicXOmHGevg2slT3tHUdIq

